[*.cs]

# IDE0066: Convert switch statement to expression
csharp_style_prefer_switch_expression = false

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = unused_local_variable

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public

# CA1069: Enums values should not be duplicated
dotnet_diagnostic.CA1069.severity = silent

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = suggestion
