[*.cs]

# IDE0066: Convert switch statement to expression
csharp_style_prefer_switch_expression = false

# IDE0059: Unnecessary assignment of a value
csharp_style_unused_value_assignment_preference = unused_local_variable

# IDE0060: Remove unused parameter
dotnet_code_quality_unused_parameters = non_public

# CA1069: Enums values should not be duplicated
dotnet_diagnostic.CA1069.severity = silent

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = suggestion

# CA2201: Do not raise reserved exception types
dotnet_diagnostic.CA2201.severity = silent

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# CA1720: Identifier contains type name
dotnet_diagnostic.CA1720.severity = silent

# CA1710: Identifiers should have correct suffix
dotnet_diagnostic.CA1710.severity = silent

# CA1711: Identifiers should not have incorrect suffix
dotnet_diagnostic.CA1711.severity = silent

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = suggestion

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = silent

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = silent
